:root{
    --white: #ffffff;
    --black: #000000;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title1{
    color: var(--white);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nueva-meta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.agregarMeta{
    display: flex;
    justify-content: center;
    align-items: center;
}